@import "@styles/settings/__settings";

.header {
    background-color:$colour-brand-blue;
    color: white;
    width: 100%;

    p {
        padding: 0;
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTitle {
    color: $colour-brand-yelloW;
    font-size: 2rem;
    font-family: $font-family-display;
    font-weight: $font-family-weight;
    
}

.headerCart {

    button {
        background-color: transparent;
        color: inherit;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    svg {
        margin-right: 0.5em;
        color: $colour-brand-yelloW;
    }
}