@import "@styles/settings/__settings";

.button {
    font-size: 1em;
    color: white;
    border: 0;
    font-family: $font-family-display;
    font-weight: $font-family-weight;
    text-transform: uppercase;
    background-color: $colour-brand-green;
    padding: .6em 1em;
    cursor: pointer;
    
    &[data-colour="yellow"] {
        background-color: $colour-brand-yellow;
        color: $colour-brand-blue;
    }

    &:hover {
        background-color: lighten($colour-brand-green, 10);
        transform: translateY(-3px);
        transition: transform .2s;


        &[data-colour="yellow"] {
            background-color: lighten($colour-brand-yellow, 10);
            color: $colour-brand-blue;
        }

    }

    &:active {
        transform: translateY(3px) scaleY(.8) scaleX(1.2);
        transition: transform .1s;
    }
}