@import "@styles/util/__util";
@import "@styles/settings/__settings";
$colour-link : #0070f3;


.products {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3em;
}

.productTitle {
  font-size: 1.4em;
  margin: .4em 0 0;
}

.productPrice {
  margin: .4em 0 0;
}

.productImage {
  @extend %card-image;
  transform: rotate(-2deg)  scale(1) translateY(-1em);
  transition: transform .1s;

  &:hover {
    transform: rotate(0) scale(1.1) translateY(-1em);
    transition: transform .2s;
  }
  & > div {
    display: block !important;
  }
}

.allegianceClassName {
  border: solid 5px $colour-brand-blue;
}

.allegiances {
  margin-top: 1em;
  margin-bottom: 4em;

  h2 {
    font-size: 1.2em;
    margin-top: 0;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

}