$colour-link : #0070f3;


.productWrapper {
    display: flex;
}

.productImage {
    width: 50%;
    margin-right: 2em;
}

.productTitle {
  font-size: 1.4em;
  margin: .4em 0 0;
}

.productPrice {
  margin: .4em 0 0;
}